@use './mixins';

.site-footer {
  @include mixins.mq('tablet-wide', max) {
    padding-bottom: 60px;
  }

  > .menus {
    background-color: #555;
    color: #fff;
    padding: 40px 0;

    a {
      color: #fff;
    }

    .col-brand {
      min-height: 160px;

      @include mixins.mq('tablet-wide', max) {
        margin-bottom: 40px;
      }

      > .brand {
        background: url('/theme/marca-rodape-compacta.png') no-repeat center;
        height: 100%;
        text-indent: -99999px;

        @include mixins.mq('tablet-wide') {
          background-size: 100%;
          width: 85%;
        }
      }
    }

    .col-social {
      @include mixins.mq('tablet', max) {
        text-align: center;
      }

      .title {
        font-family: 'Encode Sans Condensed', sans-serif;
        font-size: 28px;
        line-height: 32px;
        margin-bottom: 15px;
      }

      .menu {
        > .menu-item {
          &.menu-item-18738 {
            @include mixins.mq('tablet-wide') {
              margin-right: 40px;
            }
          }
        }
      }
    }

    .col-menu,
    .col-categories {
      .menu {
        > li {
          border-left: 2px solid;
          font-family: 'Encode Sans Condensed', sans-serif;
          font-size: 16px;

          @include mixins.mq('tablet') {
            display: inline-block;
            width: 49%;
          }
          > a {
            background-color: transparent;
            transition: background-color .25s;

            @include mixins.mq('tablet') {
              display: inline-block;
              padding: 2px 10px;
            }
            @include mixins.mq('tablet', max) {
              display: block;
              padding: 5px 10px;
            }
          }
        }
      }
    }

    .col-menu {
      .menu {
        > li {
          border-left-color: #337ab7;

          > a:hover {
            background-color: #337ab7;
            transition: background-color .25s;
          }
        }
      }
    }

    .col-categories {
      .menu {
        > li {
          border-left-color: #f9ab21;

          > a:hover {
            background-color: #f9ab21;
            transition: background-color .25s;
          }
        }
      }
    }
  }

  > .infos-copyright {
    background-color: #444;
    color: #fff;
    padding: 20px 0;

    address {
      font-style: normal;
    }
  }
}

.single-post {
  .site-footer {
    @include mixins.mq('tablet-wide', max) {
      padding-bottom: 112px;
    }
  }
}
