@use './mixins.scss';

.content-home {
  margin: 0 auto 30px;
  max-width: 1280px;
  padding-bottom: 5px;

  .list-posts {
    .post:not(.-latests),
    .type-post:not(.-latests) {
      > .thumb {
        @include mixins.mq('tablet-wide', max) {
          min-height: 170px;
        }
        @include mixins.mq('tablet-wide') {
          min-height: 223px;
        }
      }

      > .categories {
        display: none;
      }
    }
  }
}
