@use './mixins.scss';

.post-date {
  color: #337ab7;
  font-family: 'Encode Sans Condensed', sans-serif;
  line-height: 22px;
  min-width: 70px;
  padding: 12px 16px;
  text-align: center;

  @include mixins.mq('tablet-wide') {
    border-right: 1px dashed #ccc;
    margin-right: 10px;
  }

  > .day,
  > .month {
    font-size: 18px;
  }
  > .year {
    display: block;
    font-size: 22px;
  }
}
