@use './mixins';

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

* {
  box-sizing: border-box;
}

body {
  overflow-x: hidden;

  > svg {
    height: 0;
    position: absolute;
    width: 0;
  }
}

p {
  font-size: 15px;
}

blockquote {
  border: 0;
  color: #555;
  display: inline-block;
  font-family: 'Encode Sans Condensed', sans-serif;
  font-style: italic;
  font-weight: 300;
  margin-bottom: 15px;
  padding: 0;

  > p {
    font-size: 22px;
    margin-bottom: 0 !important;
    padding: 0 20px;

    &:before,
    &:after {
      content: '❝\00a0\fe0e';
      font-size: 30px;
      line-height: 20px;
    }
    &:after {
      content: '\00a0❞\fe0e';
      text-align: right;
    }
  }
}

img {
  border: 0;
  height: auto;
  max-width: 100%;
  -ms-interpolation-mode: bicubic;
}

fieldset {
  border: 0;
}

li {
  list-style: none;
}

a {
  color: #337ab7;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Encode Sans Condensed', sans-serif;
}

@include mixins.mq('tablet-wide', max) {
  h1 {
    font-size: 22px;
  }
  h2 {
    font-size: 23px;
  }
  h3 {
    font-size: 20px;
  }
  h4 {
    font-size: 17px;
  }
  h5 {
    font-size: 15px;
  }
  h6 {
    font-size: 14px;
  }
}

@include mixins.mq('tablet-wide') {
  h1 {
    font-size: 38px;
  }
  h2 {
    font-size: 32px;
  }
  h3 {
    font-size: 26px;
  }
  h4 {
    font-size: 20px;
  }
  h5 {
    font-size: 16px;
  }
  h6 {
    font-size: 14px;
  }
}

iframe {
  max-width: 100%;
}
